.backImage{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    position: relative;
    font-family: 'Fraunces', serif;
}

.portfolio-card {
    margin: 150px 0px 250px 0px;
    background-color: #000000;
    opacity:0.8; 
  }
  .portfolio-text{
      justify-content: center;
      font-weight: bold;
      font-size: 20px;
      color:crimson;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
    margin-bottom:60px;
  }
  .card-title{  
    transition:1s;
    cursor:pointer;
    padding:1px;
    font-family: 'Times New Roman', Times, serif;
  
   
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
   margin:10px;
   font-family: 'Times New Roman', Times, serif;
   font-size:18px;
  }
  
  .card::before, .card::after {
   
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(119, 122, 126, 0.027);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }