.about{
    width:70%;
    height:600px;
    background-color: rgb(3, 3, 3);
    margin-top: 100px;
    margin-left:100px;
    opacity: 0.8;
}
#aboutHead{
    font-family: 'Fraunces', serif;
    color:white;
    padding:60px 20px 40px 40px;
    
}
.text-me{
    color:rgb(129, 219, 255);
    font-family: 'Fraunces', serif;
    font-size:18px;
    line-height: 30px;
    padding-top:20px;;
}
.text-me2{
    color:rgb(129, 219, 255);
    font-family: 'Fraunces', serif;
    font-size:18px;
    line-height: 30px;
    padding:20px 0px 0px 60px;
}
  /*social*/
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icolinkedin:hover {
    background-color: #3B5998
}

.social-network a.icogithub:hover {
    background-color: #33ccff
}

.social-network a.icofile:hover {
    background-color: #BD3518
}

.social-network a.icolinkedin:hover i,
.social-network a.icogithub:hover i,
.social-network a.icofile:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}
.social-txt{
    color:rgb(255, 217, 0);
}
a{
    text-decoration: none; 
}