
body{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    position: relative;
    font-family: 'Fraunces', serif;
}

  /* media queries */
@media screen and (max-width: 992px) {
    .portfolio-card {
        margin: 150px 0px 0px 0px !important;
       
      }
    .contact-card{
        margin: 50px 10px 40px 10px;
       
    }
    .text-me{
        font-size:16px;
        line-height: 30px;
    }
    .navbar-brand{
        font-size: 35px;

    }
    .new-nav .navbar-nav .nav-link {
        color: rgb(0, 0, 0);
        font-size: 25px;
        background-color: rgb(255, 255, 255);
        border-bottom:2px solid rgb(0, 0, 0);
        position: relative;
        z-index: 5;
    }
    .footer{
        font-size:22px;
    }
    
  }
  @media screen and (max-width: 600px) {
    .contact-body{
        padding: 50px 10px 50px 10px;
    }
    .text-me{
        padding-left:6px;
    }
    .navbar-brand {
        font-size: 25px;
    }
    .contact-title{
        font-size:28px;
        margin: 0 auto
    }
    .emailStyle{
        display:block;
        padding-left:5px;
    }
  }
